/*
    Créer par Nishi / Respectez le code CSS3
*/

body
{
    background-color: #272727;
    color: white;
}

.title
{
    text-align: center;
    font-family: Impact, sans-serif;
    font-size: 3em;
}

.footer
{
    text-align: center;
}

/* --- Décoration et couleurs --- */
.ul a
{
    text-decoration: none;
    font-weight: bold;
    font-size: 1em;
}

.twitch
{
    color: rgb(139, 0, 167);
}

.ytb
{
    color: rgb(255, 0, 0);
}

.yahoo
{
    color: rgb(106, 95, 201);
}

.paypal
{
    color: rgb(25, 0, 255);
}

.webdiscord
{
    color: rgb(144, 143, 145);
}

.night
{
    color: rgb(0, 255, 115);
}

.mee6
{
    color: rgb(0, 225, 255);
}

.GTA5Admin
{
    color: rgb(255, 238, 0);
}

.WebCode
{
    color: rgb(179, 255, 0);
}

.emoji
{
    color: rgb(255, 196, 0);
}

.symbole
{
    color: rgb(255, 123, 0);
}

.tenueps4
{
    color: rgb(255, 0, 106);
}